/* constants
setting some global values to allow for global customization of the interface */

$main_accent: #2f4f4f;
$second_accent: #10587a;

Screen {
  align: center middle;
}

.pum {
  width: 50%;
}
